---
- name: Create app-demo directory
  file:
    path: "{{ app_demo_dir }}"
    state: directory
    mode: '0755'

- name: Deploy .env file
  template:
    src: env.j2
    dest: "{{ app_demo_dir }}/.env"
    mode: '0600'

- name: Deploy docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "{{ app_demo_dir }}/docker-compose.yml"
    mode: '0644'
  notify: restart app-demo

- name: Create Docker volumes directories
  file:
    path: "{{ app_demo_dir }}/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - data/postgres

- name: Start app-demo stack
  community.docker.docker_compose_v2:
    project_src: "{{ app_demo_dir }}"
    state: present
