version: '3'

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    volumes:
      - ./vw-data:/data
    environment:
      - WEBSOCKET_ENABLED=true  # Enable WebSocket notifications.
    ports:
      - 80:80
