version: '3.5'

services:
  zabbix-server:
    image: zabbix/zabbix-server-mysql:latest
    container_name: zabbix-server
    ports:
      - "10051:10051"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    depends_on:
      - mysql-server
    restart: always

  zabbix-web-nginx-mysql:
    image: zabbix/zabbix-web-nginx-mysql:latest
    container_name: zabbix-web-nginx-mysql
    ports:
      - "8083:8080"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    depends_on:
      - mysql-server
      - zabbix-server
    restart: always
    networks:
      - proxy
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zabbix.rule=Host(`monitoring.oldevops.fr`)"
      - "traefik.http.routers.zabbix.entrypoints=websecure"
      - "traefik.http.routers.zabbix.tls.certresolver=ovh"
      - "traefik.http.services.zabbix.loadbalancer.server.port=8080"

  mysql-server:
    image: mysql:8.0
    container_name: mysql-server
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./zabbix-db-data:/var/lib/mysql
    env_file:
      - .env
    restart: always

networks:
  proxy:
    external: true
  default:
    driver: bridge
