version: '3'

services:
  snipeit:
    image: snipe/snipe-it:latest
    container_name: snipeit
    env_file: .env
    depends_on:
      - db
    restart: always
    networks:
      - proxy
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.snipeit.rule=Host(`inventory.oldevops.fr`)"
      - "traefik.http.routers.snipeit.entrypoints=websecure"
      - "traefik.http.routers.snipeit.tls.certresolver=ovh"
      - "traefik.http.services.snipeit.loadbalancer.server.port=80"

  db:
    image: mysql:8.0
    container_name: snipeit-db
    env_file: .env
    volumes:
      - ./db-data:/var/lib/mysql
    restart: always

networks:
  proxy:
    external: true
  default:
    driver: bridge
