---
- name: Create prometheus directory
  file:
    path: /opt/prometheus
    state: directory
    mode: '0755'

- name: Deploy prometheus.yml
  template:
    src: prometheus.yml.j2
    dest: /opt/prometheus/prometheus.yml
    mode: '0644'

- name: Deploy docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: /opt/prometheus/docker-compose.yml
    mode: '0644'

- name: Launch Prometheus
  shell: docker compose up -d
  args:
    chdir: /opt/prometheus
