---

- name: Download and install Zabbix repository for Debian 9
  block:
    - name: Install pre-requisites
      ansible.builtin.apt:
        name:
          - apt-transport-https=1.4.11
          - ca-certificates=20200601~deb9u2
          - fping=3.15-1
          - mariadb-client=10.1.48-0+deb9u2
          - mariadb-client-10.1=10.1.48-0+deb9u2
        state: present
        install_recommends: yes
        update_cache: yes
        cache_valid_time: 86400

    - name: Install smartmontools if server is not vps
      ansible.builtin.apt:
        name:
          - smartmontools=6.5+svn4324-1
        state: present
        install_recommends: yes
        update_cache: yes
        cache_valid_time: 86400
      when: not vps_use

    - name: Download Zabbix repository for Debian 9
      ansible.builtin.apt:
        deb: https://repo.zabbix.com/zabbix/6.2/debian/pool/main/z/zabbix-release/zabbix-release_6.2-4+debian9_all.deb
  when: ansible_distribution_release == 'stretch'

- name: Download and install Zabbix repository for Debian 10
  block:
    - name: Install pre-requisites
      ansible.builtin.apt:
        name:
          - apt-transport-https=1.8.2.3
          - ca-certificates=20200601~deb10u2
          - fping=4.2-1
          - libmariadb3=1:10.3.39-0+deb10u*
          - mariadb-client=1:10.3.39-0+deb10u*
          - mariadb-client-10.3=1:10.3.39-0+deb10u*
        state: present
        install_recommends: yes
        update_cache: yes
        cache_valid_time: 86400
        
    - name: Install smartmontools if server is not vps
      ansible.builtin.apt:
        name:
          - smartmontools=6.6-1
        state: present
        install_recommends: yes
        update_cache: yes
        cache_valid_time: 86400
      when: not vps_use

    - name: Download Zabbix repository for Debian 10
      ansible.builtin.apt:
        deb: https://repo.zabbix.com/zabbix/6.2/debian/pool/main/z/zabbix-release/zabbix-release_6.2-4+debian10_all.deb
  when: ansible_distribution_release == 'buster'

- name: Download and install Zabbix repository for Debian 11
  block:
    - name: Install pre-requisites
      ansible.builtin.apt:
        name:
          - apt-transport-https=2.2.4
          - ca-certificates=20210119
          - fping=5.0-1
          #- mariadb-client=1:10.5.21-0+deb11u*
          #- mariadb-client-10.5=1:10.5.21-0+deb11u*
        state: present
        install_recommends: yes
        update_cache: yes
        cache_valid_time: 86400

    - name: Install smartmontools if server is not vps
      ansible.builtin.apt:
        name:
          - smartmontools=7.2-1
        state: present
        install_recommends: yes
        update_cache: yes
        cache_valid_time: 86400
      when: not vps_use

    - name: Download Zabbix repository for Debian 11
      ansible.builtin.apt:
        deb: https://repo.zabbix.com/zabbix/6.2/debian/pool/main/z/zabbix-release/zabbix-release_6.2-4+debian11_all.deb
  when: ansible_distribution_release == 'bullseye'

- name: Download and install Zabbix repository for Debian 12
  block:
    - name: Install pre-requisites
      ansible.builtin.apt:
        name:
          #- apt-transport-https=2.2.4
          - ca-certificates=20230311
          - fping=5.1-1
          - mariadb-client=1:10.11.6-0+deb12u1
          #- mariadb-client-10.5=1:10.5.19-0+deb11u*
        state: present
        install_recommends: yes
        update_cache: yes
        cache_valid_time: 86400

    #- name: Install smartmontools if server is not vps
    #  ansible.builtin.apt:
    #   name:
    #     - smartmontools=7.3-1
    #    state: present
    #    install_recommends: yes
    #    update_cache: yes
    #    cache_valid_time: 86400
    #  when: not vps_use

    - name: Download Zabbix repository for Debian 12
      ansible.builtin.apt:
        deb: https://repo.zabbix.com/zabbix/7.0/debian/pool/main/z/zabbix-release/zabbix-release_latest%2Bdebian12_all.deb
  when: ansible_distribution_release == 'bookworm'

- name: Ensure Zabbix repository configuration file is correct
  ansible.builtin.template:
    src: zabbix.list.j2
    dest: /etc/apt/sources.list.d/zabbix.list
    owner: root
    group: root
    mode: 0644

- name: Check that /var/lib/zabbix exists
  stat:
    path: /var/lib/zabbix
  register: var_lib_zabbix

- name: Update repos and install zabbix agent2 on Debian 9
  ansible.builtin.apt:
    name:
      - zabbix-agent2=1:6.2.9-1+debian9
      - zabbix-get=1:6.2.9-1+debian9
      - zabbix-release=1:6.2-4+debian9
    install_recommends: yes
    update_cache: yes
    state: present
  when: ansible_distribution_release == 'stretch'

- name: Update repos and install zabbix agent2 on Debian 10
  ansible.builtin.apt:
    name:
      - zabbix-agent2=1:6.2.9-1+debian10
      - zabbix-get=1:6.2.9-1+debian10
      - zabbix-release=1:6.2-4+debian10
    install_recommends: yes
    update_cache: yes
    state: present
  when: ansible_distribution_release == 'buster'

- name: Update repos and install zabbix agent2 on Debian 11
  ansible.builtin.apt:
    name:
      - zabbix-agent2=1:6.2.9-1+debian11
      - zabbix-get=1:6.2.9-1+debian11
      - zabbix-release=1:6.2-4+debian11
    install_recommends: yes
    update_cache: yes
    state: present
  when: ansible_distribution_release == 'bullseye'

- name: Update repos and install zabbix agent2 on Debian 12
  ansible.builtin.apt:
    name:
      - zabbix-agent2=1:6.4.15-1+debian12
      - zabbix-get=1:6.4.15-1+debian12
      - zabbix-release=1:7.0-1+debian12
    install_recommends: yes
    update_cache: yes
    state: present
  when: ansible_distribution_release == 'bookworm'

- name: Create script and zabbix agent directory
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: '0755'
  with_items:
    - { path: '/etc/zabbix/scripts/', owner: 'root', group: 'root' }
    - { path: '/var/lib/zabbix', owner: 'zabbix', group: 'zabbix' }

- name: Install PSK Zabbix Key to encrypt connexion
  ansible.builtin.copy:
    content: "{{ zabbix_agent2_psk }}"
    dest: /etc/zabbix/zabbix_agent2.psk
    owner: zabbix
    group: zabbix
    mode: '0600'

- name: Set up the Zabbix agent configuration file for Zabbix Agent 2
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: "{{ item.regexp }}"
    insertafter: "{{ item.insertafter }}"
    line: "{{ item.line }}"
  with_items:
    - { regexp: '^Server=', insertafter: '', line: 'Server={{ zabbix_agent_server }}' }
    - { regexp: '^ServerActive=', insertafter: '', line: 'ServerActive={{ zabbix_agent_server_active }}' }
    - { regexp: '^Hostname=',insertafter: '', line: 'Hostname={{ inventory_hostname }}' }
    - { regexp: '^Timeout=',insertafter: '### Option: Timeout', line: 'Timeout=30' }
    - { regexp: '^TLSConnect=',insertafter: '# TLSConnect=unencrypted', line: 'TLSConnect=psk' }
    - { regexp: '^TLSAccept=',insertafter: '# TLSAccept=unencrypted', line: 'TLSAccept=psk' }
    - { regexp: '^TLSPSKFile=',insertafter: '# TLSPSKFile=', line: 'TLSPSKFile=/etc/zabbix/zabbix_agent2.psk' }
    - { regexp: '^TLSPSKIdentity=',insertafter: '# TLSPSKIdentity=', line: 'TLSPSKIdentity=PSK001' }
  notify:
   - restart Zabbix-agent2

- name: copy files for checks for Zabbix Agent 2
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  with_items:
    - { src: 'files/02periodic', dest: '/etc/apt/apt.conf.d/02periodic', mode: '0644' }

- name: copy scripts and extra config files for Zabbix Agent 2
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  with_items:
      - { src: 'files/userparameters_iptables_allow_social_networks.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_iptables_allow_social_networks.conf', mode: '0644' }
  when: staging_social_networks_use|bool
  notify:
    - restart Zabbix-agent2

- name: copy scripts and extra config files for Zabbix Agent 2
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  with_items:
    - { src: 'files/userparameters_apt.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_apt.conf', mode: '0644' }
    - { src: 'files/userparameters_fping.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_fping.conf', mode: '0644' }
    - { src: 'files/userparameters_tcp_listening_ports.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_tcp_listening_ports.conf', mode: '0644' }
    - { src: 'files/userparameters_check_kernel.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_check_kernel.conf', mode: '0644' }
    - { src: 'files/check_kernel.sh', dest: '/usr/local/bin/check_kernel.sh', mode: '0755' }
  notify:
    - restart Zabbix-agent2

- name: Check that /bin/netstat exists
  stat:
    path: /bin/netstat
  register: bin_netstat

- name: Check that /usr/bin/netstat exists
  stat:
    path: /usr/bin/netstat
  register: usr_bin_netstat

- name: Validate the sudoers for netstat use by zabbix-agent for /bin/netstat
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    state: present
    regexp: '^zabbix *netstat'
    line: 'zabbix ALL=(root) NOPASSWD:/bin/netstat'
    validate: /usr/sbin/visudo -cf %s
  when: bin_netstat.stat.exists

- name: Validate the sudoers for netstat use by zabbix-agent for /usr/bin/netstat
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    state: present
    regexp: '^zabbix *netstat'
    line: 'zabbix ALL=(root) NOPASSWD:/usr/bin/netstat'
    validate: /usr/sbin/visudo -cf %s
  when: usr_bin_netstat.stat.exists

- name: specific tasks for scanports machine
  block:
  - name: copy script when scanports
    ansible.builtin.copy:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      mode: "0644"
      owner: root
      group: root
    with_items:
      - { src: "files/userparameters_boap.conf", dest: "/etc/zabbix/zabbix_agent2.d/userparameters_boap.conf"}
      - { src: "files/userparameters_nmap_scanning_ports.conf", dest: "/etc/zabbix/zabbix_agent2.d/userparameters_nmap_scanning_ports.conf"}
    notify:
      - restart Zabbix-agent2    

  - name: Validate the sudoers for scanports for boap use by zabbix-agent
    ansible.builtin.lineinfile:
      path: /etc/sudoers
      state: present
      regexp: '^zabbix *boap'
      line: 'zabbix ALL=(root) NOPASSWD:/usr/local/bin/boap'
      validate: /usr/sbin/visudo -cf %s
  when: product_use == "scanports"

- name: Copy Mysql remote check configuration file for Zabbix Agent 2
  ansible.builtin.template:
    src: userparameters_mysql_remote_check.conf.j2
    dest: /etc/zabbix/zabbix_agent2.d/userparameters_mysql_remote_check.conf
    owner: zabbix
    group: zabbix
    mode: 0640
  no_log: true
  notify:
   - restart Zabbix-agent2

- name: Set up Zabbix Agent 2 specific config for Redis for Mermaid
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  with_items:
    - { regexp: 'Plugins.Redis.Sessions.*.Uri', line: 'Plugins.Redis.Sessions.RedisMermaid.Uri=tcp://localhost:16793' }
    - { regexp: 'Plugins.Redis.Sessions.*.Password', line: 'Plugins.Redis.Sessions.RedisMermaid.Password={{ redis_requirepass }}' }
  when: product_use == "mermaid" and redis_use|bool

- name: Ensure /var/lib/zabbix is home directory for Zabbix agent2
  block:
    - name: Ensure that zabbix agent is stopped so that we can modify its user for Zabbix Agent 2
      ansible.builtin.service:
        name: zabbix-agent2
        state: stopped
    
    - name: Ensure that Zabbix agent has its home set so that it can use its configuration file for Zabbix Agent 2
      ansible.builtin.user:
        name: zabbix
        home: /var/lib/zabbix/
      notify:
       - restart Zabbix-agent2
    
    - name: Ensure that Zabbix Agent 2 is started now
      ansible.builtin.service:
        name: zabbix-agent2
        state: started
  when: not var_lib_zabbix.stat.exists

- name: Remove SSL copy files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  with_items:
    - { path: '/etc/zabbix/scripts/ssl_cert_check.sh' }
    - { path: '/etc/zabbix/scripts/userparameters_ssl_cert_check.conf' }
