---
- name: Install Zabbix repository for Debian 12
  apt:
    deb: https://repo.zabbix.com/zabbix/7.0/debian/pool/main/z/zabbix-release/zabbix-release_latest%2Bdebian12_all.deb
    state: present

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Zabbix Agent 2
  apt:
    name:
      - zabbix-agent2
      - zabbix-agent2-plugin-*
    state: present

- name: Configure Zabbix Agent 2
  lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - { regexp: '^Server=', line: 'Server=192.168.1.202' }
    - { regexp: '^ServerActive=', line: 'ServerActive=192.168.1.202' }
    - { regexp: '^Hostname=', line: 'Hostname={{ inventory_hostname }}' }
    - { regexp: '^Timeout=', line: 'Timeout=30' }
  notify: restart zabbix-agent2

- name: Start and enable Zabbix Agent 2
  service:
    name: zabbix-agent2
    state: started
    enabled: yes
