---

- name: Create aws configuration directory
  ansible.builtin.file:
    path: /var/lib/zabbix/.aws/
    state: directory
    owner: zabbix
    group: zabbix
    mode: 0755

- name: Check that /var/lib/zabbix/.aws/config exists
  stat:
    path: /var/lib/zabbix/.aws/config
  register: var_lib_zabbix_aws_config

- name: Check that /var/lib/zabbix/.aws/credentials exists
  stat:
    path: /var/lib/zabbix/.aws/credentials
  register: var_lib_zabbix_aws_credentials

- name: Create aws configuration files
  ansible.builtin.file:
    path: "/var/lib/zabbix/.aws/{{ item }}"
    state: touch
    owner: zabbix
    group: zabbix
    mode: '0600'
  with_items:
    - "config"
    - "credentials"
  when: not var_lib_zabbix_aws_config.stat.exists or not var_lib_zabbix_aws_credentials.stat.exists

- name: Set up /var/lib/zabbix/.aws/config file
  ansible.builtin.blockinfile:
    path: /var/lib/zabbix/.aws/config
    block: |
      [default]
      region = eu-west-1
      output = json

- name: Set up /var/lib/zabbix/.aws/credentials file
  ansible.builtin.blockinfile:
    path: /var/lib/zabbix/.aws/credentials
    block: |
      [default]
      aws_access_key_id = {{ BACKUP_UPLOAD_S3_ACCESS_KEY }}
      aws_secret_access_key = {{ BACKUP_UPLOAD_S3_SECRET_KEY }}

- name: copy file for checks specific for zabbix-server for Zabbix Agent 2
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  with_items:
    - { src: 'files/userparameters_awsbackup.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_awsbackup.conf', mode: '0644' }
    - { src: 'files/awsbackupS3list', dest: '/usr/local/bin/awsbackupS3list', mode: '0755' }
    - { src: 'files/awsbackupS3list.timer', dest: '/etc/systemd/system/awsbackupS3list.timer', mode: '0644' }
    - { src: 'files/awsbackupS3list.service', dest: '/etc/systemd/system/awsbackupS3list.service', mode: '0644' }
    - { src: 'files/userparameters_dj.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_dj.conf', mode: '0644' }
    - { src: 'files/userparameters_ovh_ceph.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_ovh_ceph.conf', mode: '0644' }
    - { src: 'files/userparameters_primotexto.conf', dest: '/etc/zabbix/zabbix_agent2.d/userparameters_primotexto.conf', mode: '0644' }
  notify:
   - issue daemon-reload
   - restart Zabbix-agent2

- name: enable and start awsbackupS3list.timer
  ansible.builtin.systemd:
    name: "{{ item }}"
    daemon_reload: yes
    enabled: yes
    state: started
  with_items:
    - awsbackupS3list.timer
